body {
    display:flex;
    flex-direction: column;
}
.header, .hero, .footer{
    background-color:#1F2937;
    color:#F9FAF8;
    padding:0 80px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header_logo{
    font-weight:bold;
}

ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
}

.hero_content{
    flex-wrap: wrap;
}
.text_title{
    font-size:48px;
    font-weight:bolder;
}

.placeholder{
    display:flex;
    flex:1;
    background-color:gray;
    align-items:center;
    padding:32px 100px;
}

.footer{
    font-size:10px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:32px
}