body {
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    background-color: #F4DFBA;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration-line: none;
    font-weight:18px;
    color:#F4DFBA;
}
.header, .hero, .footer{
    background-color:#603601;
    color:#F4DFBA;
    padding:0 60px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header_logo{
    font-weight:bold;
    font-size:24px;
}

.hero{
    padding:20px 60px;
    flex-wrap:wrap;
    /*justify-content: center;*/
}

ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
}

.hero_content{
    flex-wrap: wrap;
    max-width:720px;
    min-width:360px;
    flex:1 1 360px;
}
.text_title{
    min-width: 360px;
    font-weight:bolder;
    padding:6px 60px 6px 0;
}

.text{
    font-size:18px;
    padding:0 60px 6px 0;
    text-align:justify;
}

h1, h2{
    padding:6px 0;
    margin:0;
}

h1{
    font-size:48px;
}

.sign_up_button{
    background-color: #FF8303;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
    border-color:#FF8303;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    color:#F4DFBA;
    padding:8px 20px;
    margin:6px 0;
}

.random_information_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information_header{
    margin:40px 40px 0 40px;
    font-size:36px;
    color:#603601;
    font-weight:bold;
}

/*.placeholder{
    display:flex;
    flex:1;
    background-color:gray;
    align-items:center;
    padding:32px 100px;
}*/

.footer{
    font-size:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:32px
}

.item_container{
    min-width:300px;
    padding:40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}

.item{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin: 0 20px 20px 20px;
    padding:12px;
    border-style:solid;
    border-color:#603601;
    border-width:8px;
    border-radius: 25px;
    min-width: 175px;
    aspect-ratio: 1/1;
    background-color:#FEF7DC;
}

.item_text{
    color:#603601;
    font-weight: bold;
    font-size: 18px;
    font-style:italic;
}

.image_container{
    /*margin:0 80px;*/
    flex:1 1 360px;
    max-width: 720px;
    min-width: 360px;
    aspect-ratio: auto;
}

#coffee_image{
    display:block;
    width:100%;
    height:auto;
    border-radius: 12px;
    margin: 20px 0;
}

.quote{
    background-color: #FEF7DC;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#603601;
    font-size:28px;
    font-weight: light;
    font-style: italic;
    padding:80px;
    text-align:justify;
}

.quotee{
    align-self:flex-end;
    font-size:18px;
    font-weight:normal;
    font-style:normal;
    padding:6px 0 0 0;
}

.sign_up{
    background-color:#FF8303;
    margin:60px auto;
    padding:20px 120px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    font-size:18px;
    color:#F4DFBA;
    border-radius: 12px;
    gap:0 120px;
    white-space: nowrap;
    flex-wrap:wrap;
}

.sign_up_header{
    font-weight: bolder;
    font-size:24px
}

#bottom_button{
    border-style:solid;
    border-radius:6px;
    border-width: 2px;
    border-color:#F4DFBA;
}